{% extends 'user_layout.html' %}


{% block user %}
<div class="page-header">
    <h4>{{ title }} {{ user.username }}</h4>
</div>
<table class="table table-hover table-responsive-sm">
    <thead>
        <th scope="col"><span class="btn">User</span></th>
        <th class="w3-hide-small" scope="col"><span class="btn">Since</span></th>
        <th scope="col"><span class="btn">Role</span></th>
    </thead>
    <tbody>
    {% for temp_member in temp_joins %}
        <tr>
        {% if user.username != temp_member.user.username %}
            <td>
                <a href="{{ url_for('posts.user_posts', username = temp_member.user.username) }}">
                    <img class="img-fluid w3-circle" style="width:10%;" src="{{ url_for('static', filename='img/' + temp_member.user.image_file) }}">
                    <span class="btn">{{ temp_member.user.username }}</span>
                </a>
            </td>
            <td class="w3-hide-small">
                <p class="btn" >{{ moment(temp_member.timestamp).format('L') }}</p>
            </td>
            <td>
                <span>{{ temp_member.user.role }}</span>
            </td>
            <td><a href="{{ url_for('main.accept', username = temp_member.user.username) }}">Accept</a></td>
        {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if user.has_role('Association') and user.shorten %}
{{ macros.pagination_widget(pagination, endpoint, shorten = user.shorten) }}
{% else %}
{{ macros.pagination_widget(pagination, endpoint, username = user.username) }}
{% endif %}

{% endblock user %}