{% extends 'user_layout.html' %}

{% block user %}
    <h1 class="w3-center" style="font-size: 110%; font-weight: bold;">Posts({{ posts.total }})</h1>
    {% for post in posts.items %}
    <div class="w3-border-top" style="background-color: transparent;">
        <h4>
            <a class="text-capitalize" style="color: dodgerblue;" href="{{ url_for('posts.VPost', post_id=post.id) }}">{{ post.title }}</a>
            <small class="" style="color: darkgrey;">{{ moment(post.date_posted).fromNow(refresh=True) }}</small>
        </h4>
        {% if post.img_file %}
        <img id="image" style="width:65%;" class="image-fluid figure-img w3-display-container w3-hover-opacity" src="{{ url_for('static', filename='img/' + post.img_file )}}" alt="image">
        {% endif %}
        <p class="lead">{{ post.content }}</p>
    </div>
    {% endfor %}
    {{ macros.pagination_widget(posts, 'posts.userPosts', username=user.username) }}
{% endblock user %}